/* #cont-principal-estudiantes{
    border: 1px solid black;
    margin-bottom: 40px;
    /* background-color: turquoise;
    height: 100vh;
    padding-top: 20px ;
    padding-left: 50px;
    padding-right: 50px;
    
} */

#cont-secundario{
    box-shadow: 1px 1px 10px 2px;
    background-color:#5bb6ff;
    /* background-color: rgb(192, 247, 240); */
    height: 100%;
    
    /* margin: 20px 20px 35px 20px; */
    /* padding: 0px 0px; */
    /* border-radius: 15px; */
    
    
}


#cont-form-estudiantes{
    background-color: #74c0ff;
    max-width: 500px;
    margin: 30px auto;
    padding: 1em 3em;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 0px;
    /* background-image: url(../../img/desktop.png); */
}

.title-login-estudiantes{
    margin: 0;
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

#icon-login{
    font-size: 10em;
    color:white;
}

.cont-form-group-estudiantes{
    margin: 20px 0px;
}

.cont-form-group-estudiantes > .label-estudiantes{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    color: black;
    letter-spacing: 2px;
}

.group-icon-input-estudiantes{
    display: flex;
    padding: 8px 5px;
    background-color: #ffffff;
    border-radius: 6px;
}

.group-icon-input-estudiantes > .iconos-login-input{
    color: #2c15ff;
    font-size: 20px;
    margin: 8px 5px;
}

.input-login-estudiantes[type="text"],
.input-login-estudiantes[type="password"] {
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    color: #000;
    font-weight: 500;
}

.input-login-estudiantes[type="text"]:focus,
.input-login-estudiantes[type="password"]:focus {
    outline: none;
}

.button-login-estudiantes {
    background-color: #3f2af5;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    padding: 12px 10px;
    cursor: pointer;
    width: 40%;
    border-radius: 6px;
   
}

.button-login-estudiantes:hover {
    background-color: #2c15ff;
}